    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"  ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Fridge Magnets with Friends</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  ng-class="{'in':!navCollapsed}">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/fridge">Home</a>
                    </li>
                    <li>
                        <a href="" ng-click="about()">About</a>
                    </li>
                    <li>
                        <a href="" ng-click="changeSet()">New Fridge</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Main Content -->

    <div class="container" id="fridge" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
	<div class="row">
	  <div class="repeater" ng-repeat="(shapeId,shape) in shapes">
	    <div id="{{shapeId}}" style="position:absolute; top:{{shape.top}}; left:{{shape.left}};" class="magnet" ng-drag="true" ng-drag-data="shape" ng-drag-start="onDragStart($data,$event)" ng-drag-success="onStop($data, $event)" ng-model="shape">{{shape.text}}</div>
	  </div>
	</div>
    </div>

